body {
    background-color: lightseagreen;
    width: 800px;
}

body > div {
    height: 300px;
    width: 300px;
    background-color: yellow;
}

.example-class {
    background-color: orange;
}

#example {
    background-color: red;
}

#example p, h3 {
    color: yellow;
}

#second-example p:first-child {
    color: aquamarine;
}

#second-example p:last-child {
    color: lightgoldenrodyellow;
}

#second-example h3+h4 {
    font-family: 'Courier New', Courier, monospace;
    background-color: indianred;
}

#test-image:hover {
    filter: invert(100%);
}

nav {
    height: 50px;
    background-color: teal;
    width: 50%;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px 0 10px;
    /* margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px; */
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 10px;
}

#intro {
    text-align: center;
}

main article {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin: 0 20px;
}

#blog-text {
    width: 50%;
    margin: 0 20px;
    font-size: 25px;
}

#blog-text p:first-child {
    margin: 10px 0;
}

.card {
    width: 500px;
    background-color: lightgray;
    border-radius: 10px;
    padding-bottom: 2px;
}

.card h4 {
    text-align: center;
}

.card li {
    font-size: 18px;
}

#lower-image img {
    width: 25%;
    height: auto;
}