/* 
Block:Top bottom margin respected
Inline: Top Bottom margin not respected
Mobile navbar
list-style-type:property
descendant selectors
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
    list-style-type: none;
}